openapi: 3.0.4
info:
  title: Roman Numeral Math
  description: >-
    Roman Numeral Math is a tool for performing mathematical operations (add,
    subtract, multiply, divide) with Roman numerals. It shows both numeric and
    Roman numeral equations.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/romannumeralmath:
    get:
      summary: Calculate Roman Numerals
      description: Perform arithmetic operations with Roman numerals
      operationId: romannumeralmath
      parameters:
        - name: roman1
          in: query
          schema:
            type: string
          required: true
          description: The first Roman numeral
          example: XIV
        - name: roman2
          in: query
          schema:
            type: string
          required: true
          description: The second Roman numeral
          example: VI
        - name: operation
          in: query
          schema:
            type: string
          required: false
          description: Operation to perform
          example: add
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  roman1: XIV
                  roman2: VI
                  roman1_value: 14
                  roman2_value: 6
                  operation: add
                  result_number: 20
                  result_roman: XX
                  equation_numeric: 14 + 6 = 20
                  equation_roman: XIV + VI = XX
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
